body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

.blogpost {
    border: solid 0.2rem #ccc4c4;
    border-radius: 0.8rem;
    margin: 0 2rem;
    padding: 0 auto;
    text-align: center;
}

.blogpost__title {
    text-align: center;
    font-size: 2rem;
}

.blogpost__content {
    font-family: arial;
    font-size: 1rem;
    text-align: center;
}
