body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.blogpost {
    border: solid 0.2rem #ccc4c4;
    border-radius: 0.8rem;
    margin: 0 2rem;
    padding: 0 auto;
    text-align: center;
    overflow: hidden;
}

.blogpost__title {
    text-align: center;
    font-size: 2rem;
}

.blogpost__content {
    font-family: arial;
    font-size: 1rem;
    text-align: center;
}

.blogpost__header {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: #7d0881;
    color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

